nav.container-fluid.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') CodeShare
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
        a.nav-link(href='/contactus') Contact
    ul.navbar-nav
      if username
        li.nav-item
          a.nav-link(href='/login') #{username}
        li.nav-item
          a.nav-link(href='/signout') logout
      else
        li.nav-item
          a.nav-link(href='/login')
            | Login
        li.nav-item
          a.nav-link(href='/register')
            | Register

